<section class="publishall">
  <LinkTo @route="course" @model={{@model.course}} data-test-back-to-course>
    {{t "general.backToTitle" title=@model.course.title}}
  </LinkTo>
  <PublishAllSessions
    @course={{@model.course}}
    @sessions={{@model.sessions}}
    @saved={{this.returnToList}}
  />
</section>
