<div class="single-event-objective-list">
  <h2>
    {{@title}}
    {{#if this.showDisplayModeToggle}}
      <button
        class={{if this.groupByCompetencies "active"}}
        type="button"
        {{on "click" (set this.groupByCompetencies (not this.groupByCompetencies))}}
      >
        {{#if this.groupByCompetencies}}
          <FaIcon @icon="indent" @title={{@listByPriorityPhrase}} />
        {{else}}
          <FaIcon @icon="list" @title={{@groupByCompetenciesPhrase}} />
        {{/if}}
      </button>
    {{/if}}
  </h2>
  {{#if this.groupByCompetencies}}
    {{#if this.domains.length}}
      <ul class="tree">
        {{#each this.domains as |domain|}}
          <li>
            {{domain.title}}
            <ul>
              {{#each domain.objectives as |title|}}
                <li>
                  {{! template-lint-disable no-triple-curlies }}
                  <TruncateText
                    @renderHtml={{true}}
                    @text={{title}}
                    @length={{50}}
                    as |displayText expand isTruncated collapse expanded|
                  >
                    {{#if expanded}}
                      {{{title}}}
                      <button
                        class="collapse-button"
                        type="button"
                        data-test-collapse
                        {{on "click" collapse}}
                      >

                        <FaIcon @icon="caret-square-up" />
                        {{t "general.collapseObjective"}}
                      </button>
                    {{else}}
                      <button
                        class="link-button"
                        type="button"
                        data-test-expand
                        {{on "click" expand}}
                      >
                        {{displayText}}
                      </button>
                      {{#if isTruncated}}
                        <FaIcon @icon="ellipsis-h" @transform="down-6" />
                        <button
                          class="link-button"
                          type="button"
                          aria-label={{t "general.expand"}}
                          data-test-expand-truncated
                          {{on "click" expand}}
                        >
                          <FaIcon @icon="info-circle" />
                        </button>
                      {{/if}}
                    {{/if}}
                  </TruncateText>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="no-content">
        {{t "general.none"}}
      </div>
    {{/if}}
  {{else}}
    <ul class="list-in-order">
      {{#each @objectives as |objective|}}
        <li>
          {{objective.title}}
          <span class="details">
            {{objective.domain}}
          </span>
        </li>
      {{else}}
        <li class="no-content">
          {{t "general.none"}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
